=media ($size)
    @media screen and (min-width: #{$size}px)
        @content

@import components/header
@import components/main
@import components/footer


html
    font-size: 0.7px
    +media(450)
        font-size: 1px

body
    color: #555
    font-family: "Montserrat", sans-serif

.HeaderLinks nav.show
    display: block

.BtnClose
    backdrop-filter: invert(1)

.reveal
  opacity: 0
  filter: blur(10px)
  transform: translateY(20px)
  transition: opacity 0.6s ease-out, transform 0.6s ease-out, filter 0.6s, margin-top 0.5s ease, background-color 0.5s ease, color 0.5s ease-out

.reveal.visible 
    opacity: 1
    filter: blur(0)
    transform: translateY(0)

.toast-container
    bottom: 30px
    left: 30px
    z-index: 5
    background-color: #fff
    opacity: 0
    transition: opacity 1s ease-out
    font-size: 20rem
    padding: 20px 30px
    border-radius: 10px
    max-width: 80%
    margin: 0 auto
    +media(550)
        max-width: 25%

    strong
        font-size: 25rem

    
.popup 
    display: none
    position: fixed
    z-index: 1
    padding-top: 25vh
    left: 0
    top: 0
    width: 100%
    height: 100vh

.popup-content 
    border: 2px solid #666
    background-color: rgba(238, 238, 238, 0.98)
    margin: auto
    width: 80%
    max-width: 700px
    min-height: 200px
    border-radius: 20px
    text-align: center
    padding: 50px

    button
        background-color: transparent

.popup-inputs
    position: relative

    span
        position: absolute

.popup-content input 
    border-radius: 25px
    font-size: 16rem
    font-weight: 700
    width: 100%
    margin: 10px 0
    padding: 20rem 30rem
    +media(450)
        padding: 20rem 40rem
        margin: 15rem
        width: 80%
        margin: 15px
        padding: 20px 40px

.close
    top: -35px
    right: -10px
    color: #aaa
    font-size: 40rem
    font-weight: bold
    z-index: 5  
    cursor: pointer

    &:hover 
        color: #888

.InputPopUp
    padding-top: 50px
    position: relative
    font-size: 15rem

    h2
        font-size: 26rem

    span
        position: absolute
        right: 25px
        top: 5px

    .ConfirmBlock 
        padding: 20px 40px
        text-align: left

.bar
    border-radius: 70px
    background-color: #ccc    
    position: relative
    border: 2px solid #aaa
    box-sizing: border-box
    height: 40px
    margin: 30px 0
    width: 100%
    +media(550)
        width: 80%
        margin: 30px auto
        height: 70px

    .circle
        position: absolute
        border-radius: 50%
        top: 0
        left: 1px
        background-color: #fff
        height: 35px
        width: 36px
        +media(550)
            height: 66px
            width: 68px

        svg
            margin-top: 8px
            margin-left: 2.5px
            width: 20px
            +media(550)
                width: 40px
                margin-top: 13.5px
                margin-left: -5px

.CoolA
    text-decoration: none
    padding: 22px 50px
    font-size: 16rem
    border: 2px solid #fff
    color: #fff
    text-transform: uppercase
    background-color: transparent
    font-weight: 600

    &:hover
        background-color: #fff
        color: #000

h3
    font-size: 20rem
    text-transform: uppercase
    font-weight: 800
    text-align: center
    position: relative
    margin-bottom: 38rem
    margin-top: 0

    &::before
        content: ""
        z-index: 4
        background-color: #555
        position: absolute
        width: 70px
        height: 2px
        top: 43rem
        left: 50%
        transform: translateX(-35px)

.UnderH
    font-family: "Roboto Slab"
    font-size: 16rem
    text-align: center
    padding: 0 15%
    +media(550)
        padding: 0

.ServicesBlock
    padding: 100px 0 60px
    +media(1400)
        padding: 100px 0 200px

    .ServiceCards
        padding: 100px 20% 0
        flex-wrap: wrap
        +media(1400)
            padding: 100px 10% 0
            flex-wrap: nowrap

        .card
            border: none
            padding-bottom: 100px
            +media(1400)
                padding-bottom: 0
            
            .IconFrame 
                width: 100rem
                height: 100rem
                border-radius: 50%
                border: 1.5px solid #ccc
                margin: 0 50%
                transform: translateX(-50rem)

            .filledFrame,
            .SolidIcon,
            .SupportIcon
                background-repeat: no-repeat
                background-position: center
                background-size: 50rem 

            .filledFrame
                background-size: 45rem 
                border: 1.5px solid #c0301c
                background-color: #c0301c
                background-image: url(../img/fa-font.png)

            .SolidIcon
                background-image: url(../img/fa-code.png)

            .SupportIcon
                background-image: url(../img/fa-support.png)

            .card-body
                font-family: "Roboto Slab"
                text-align: center
                margin: 0
                +media(760)
                    margin: 0 25px
                color: #555

                h5
                    font-family: "Montserrat", sans-serif
                    font-weight: 500
                    padding: 25px 0
                    font-size: 14rem
                    text-transform: uppercase

                p
                    font-size: 14rem
                    font-family: "Roboto Slab"
                    max-width: 500px

.works
    padding: 140rem 0
    margin: 0 auto

    .WorkLinks
        padding-bottom: 50rem
        white-space: nowrap
        overflow-x: scroll
        &::-webkit-scrollbar 
            display: none

        a
            text-decoration: none
            color: #555
            padding: 15px
            
            &:hover
                color: #464545
        
        .SelectedFilter
            font-weight: 600
            color: #c0301c
            text-decoration: underline

            &:hover
                color: #a92918
            
        
    .WorkPicturesBlock
        margin-top: 100px
        display: flex
        flex-wrap: wrap
        margin: 0 auto
        justify-content: center
        padding: 0 1%
        +media(1030)
            width: 95%
        +media(1280)
            width: 75%

        .WorkPicturesContainer
            position: relative
            aspect-ratio: 1 / 1 
            margin: 1%
            width: 44%
            +media(768)
                width: 30%
            +media(1030)
                margin: 16rem

            &:hover
                background-color: #c0301c

            &:hover .WorkPictures 
                opacity: 0.3

            &:hover .middle 
                opacity: 1

            .middle 
                transition: .5s ease
                opacity: 0
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                color: #fff
                text-align: center

                a 
                    text-transform: uppercase
                    color: transparentize(#c0301c, 0.1)
                    font-size: 14rem
                    text-decoration: none
                    padding: 10px 35px 10px 20px
                    font-weight: 600
                    background-color: #fff
                    font-family: "Roboto Slab"
                    position: relative

                    &::before,
                    &::after
                        content: ""
                        position: absolute
                        width: 6.5px
                        height: 2.4px
                        background-color: transparentize(#c0301c, 0.1)
                        right: 20px
                        top: 16.5px

                    &::before
                        transform: rotate(45deg)

                    &::after
                        transform: rotate(-45deg)
                        top: 20.5px
                
                p
                    margin-bottom: 40px
                    font-size: 14rem

                    &:first-child
                        font-size: 18rem
                        margin-bottom: 20px
                        font-weight: 600
                        

            .WorkPictures
                object-fit: cover
                opacity: 1
                display: block
                width: 100%
                height: 100%
                transition: .5s ease

.GetInTouch
    padding: 160px 0 175px
    text-align: center
    background-image: url(../img/TalkPic.png)
    background-size: cover 
    background-repeat: no-repeat
    color: #fff
    font-family: "Roboto Slab"

    p
        line-height: 35px
        padding: 0 10px
        font-size: 30rem
        +media(375)
            font-size: 35rem
        +media(450)
            font-size: 40rem
    
    .PAMargin
        margin: 0 0 90px
        +media(550)
            margin: 25px 0 90px

.BlogPosts
    padding: 80px 20px
    +media(550)
        padding: 150px 10%

    .PostsBlock
        padding-top: 100px

        .FirstPost
            padding-bottom: 15px
            margin-bottom: 30px
            border-bottom: 1px solid #ddd
            +media(1300)
                padding-bottom: 55px
                margin-bottom: 65px

        .posts
            display: flex
            flex-direction: column
            +media(1300)
                flex-direction: row

            .BlockRight
                width: 100% 
                +media(1300)
                    width: 40% 

            img
                width: 100%
                object-fit: cover
                object-position: right center
                aspect-ratio: 5 / 4
                margin: 40px 0
                +media(480)
                    margin: 60px 0
                    aspect-ratio: 5 / 2
                +media(1300)
                    aspect-ratio: 3 / 2
                    margin: 0

            .BlockLeft
                text-align: left
                padding:  0 0 50px
                width: 100% 
                +media(1300)
                    width: 60% 
                    padding:  0 0 110px 60px 

                .BlogBlock

                    h5
                        display: inline-block
                        border: 2px solid #000
                        font-size: 24rem
                        letter-spacing: 2px
                        text-transform: uppercase
                        color: #777
                        text-align: center
                        padding: 15px
                        width: 90px

                    div
                        display: inline-block
                        transition: 1s ease all
                        margin-left: 20px
                        +media(550)
                            margin-left: 50px

                        h4,p
                            font-size: 16rem
                            +media(550)
                                font-size: 20rem

                        p
                            font-style: italic
                            padding-top: 10px
                
                .BlogBlockText
                    font-family: "Roboto Slab"

                    p
                        font-size: 18rem
                        color: #555
                        padding: 30px 0 30px
                        +media(550)
                            padding: 30px 0 70px

                    a
                        font-size: 16rem
                        text-decoration: none
                        color: #777
                        font-weight: 800

        .posts:hover
            .BlogBlock
                p,h4
                    color: #c0301c
            .BlogBlockText
                a
                    color: #c0301c
                    text-decoration: underline

    
.Partners
    padding: 150rem 
    transition: height 1s ease-in-out
    +media(430)
        padding: 170px 
    background-color: #f8f8f8
    &-images
        overflow: hidden

    div
        margin: 0 auto
        flex-wrap: wrap
        width: 85%
        +media(550)
            width: 55%
        +media(1300)
            flex-wrap: nowrap

    .Partners-images
        height: 60px

    .Partners-text
        padding: 70px 0 0
        +media(1300)
            padding: 50px 100px 0

    img
        display: inline-block
        transition: all 0.5s ease-in-out
        // margin: 0 50px
        height: 60px
        width: 20%
        object-fit: contain
        +media(1300)
            margin: 0
            padding: 0 20px

    p
        font-size: 18rem
        color: #555
        font-weight: 400
        line-height: 20px
        font-family: "Roboto Slab"
        font-style: italic
        text-align: center

    .QuoteAuthor
        margin: 40px 0 50px
        font-size: 19rem
        font-style: normal

    .dots
        width: 120px
        +media(430)
            width: 200px

        .dot-selection
            transition: all 0.3s ease-in-out
            border-radius: 50%
            border: 1px solid #bdbdbd
            background-color: #ddd
            &:hover
                background-color: #cacaca
            width: 12px
            height: 12px
            +media(430)
                width: 20rem
                height: 20rem

        .activeDot
            border: 1px solid #a02616
            background-color: #c0301c
            &:hover
                background-color: #a82716

.Touch
    padding: 120px 0 0
    +media(768)
        padding: 120px 0 170px

    .TouchBlock
        padding: 60px 15%
        vertical-align: top
        display: flex
        flex-direction: column
        +media(1320)
            flex-direction: row
        
            
    .PersonalInfoBlock 
        padding-top: 45px
        text-align: left
        display: inline-block
        display: flex
        flex-direction: row
        flex-wrap: wrap
        width: 100%
        justify-content: center
        +media(1320)
            width: 30%
            justify-content: flex-start
            flex-direction: column

        div
            width: 300px
            font-family: "Roboto Slab"
            margin-bottom: 30px
            font-size: 16rem

            svg
                margin-right: 30px

            p
                font-weight: 700
                margin-bottom: 5px
                display: inline-block

            a
                padding-left: 50px
                color: #222
                text-decoration: none
                display: block

    .InputsBlock
        text-align: left
        display: inline-block
        width: 100%
        +media(1320)
            width: 70%

        .SendMessageBlock
            justify-content: center
            flex-wrap: wrap
            +media(1024)
                flex-wrap: nowrap
                justify-content: start

            .SendMessage
                min-width: 220px
                max-width: 360px
                max-height: 80px
                margin-top: 30px
                +media(770)
                    margin: 20px 30px
                +media(1024)
                    flex-wrap: nowrap
                    width: 220px

            span
                font-size: 14rem
                text-align: left
                margin-top: 10px
                +media(770)
                    margin-top: 45px
                    margin-left: 40px

        label
            width: 100%
            border: none
            position: relative
            margin: 10px 0
            +media(770)
                margin: 20px 30px
                width: calc( 50% - 60px )

        input,
        textarea
            border: 1.5px solid #555
            display: inline-block
            outline: none
            font-family: "Roboto Slab"
            font-size: 16rem
            text-transform: uppercase
            box-sizing: border-box
            background-color: transparent
            width: 100%
            padding: 15px 15px
            +media(770)
                padding: 25px 35px

            &:focus
                border: 1px solid #a02616
                background-color: transparentize(#a02616, 0.98)

        .errortext
            position: absolute
            top: -25px
            left: 10px
            color: red
            font-size: 15px

        textarea
            overflow-y: scroll
            width: 100%
            margin: 10px 0
            +media(770)
                margin: 20px 30px
                width: calc( 100% - 60px )
