container 
    .HeaderLinks
        h2 Startup 
        .HeaderLinksMenu
            a(href="#") Home
            a(href="#") Services 
            a(href="#") About 
            a(href="#") Works
            a(href="#") Blog
            a(href="#") Clients
            a(href="#") Contact
    .ImageContainerHeader 
        h1.text-uppercase welcome to startup
        p Your Favourite Creative Agency Template
        a.CoolA.text-uppercase(href="#") Get started
