.ServicesBlock
    h3 Services
    p.UnderH We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
    .ServiceCards.d-flex.justify-content-around
        .card
            .IconFrame.filledFrame
            .card-body
                h5.ServiceH Clean Typography
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
        .card
            .IconFrame.SolidIcon
            .card-body 
                h5.ServiceH.HackTrigger Rock Solid Code
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
        .card
            .IconFrame.SupportIcon
            .card-body
                h5.ServiceH Support
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
.AboutUsBlock 
    h3 About us
    p.UnderH Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
    .AboutParagraphs.d-flex 
        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
    .AboutPhotos.d-flex.justify-content-between 
        .AboutPhotosPeopleBlocks
            div
                img(src="img/person1.png", alt="")
                .AboutPhotosSocialBlock
                    +PeopleSocials()
            h4.pt-5 Md. Khalil Uddin
            p Head of Ideas   
        .AboutPhotosPeopleBlocks
            div
                img(src="img/person2.png", alt="")
                .AboutPhotosSocialBlock
                    +PeopleSocials()
            h4.pt-5 Rubel Miah
            p Lead WordPress Developer
        .AboutPhotosPeopleBlocks
            div
                img(src="img/person3.png", alt="")
                .AboutPhotosSocialBlock
                    +PeopleSocials()
            h4.pt-5 Shamim Mia
            p Sr. Web Developer
        .AboutPhotosPeopleBlocks
            div
                img(src="img/person4.png", alt="")
                .AboutPhotosSocialBlock
                    +PeopleSocials()
            h4.pt-5 John Doe
            p Front-end Developer
.works 
    h3 Latest Works
    .WorkLinks.UnderH.pb-5
        a(href="#") All 
        a(href="#") Branding 
        a(href="#") Design 
        a(href="#") Development 
        a(href="#") Strategy
    .WorkPicturesBlock.mt-5
            .WorkPicturesContainer
                img.WorkPictures(src="img/WorksHair.png" alt="Work Picture 1")
                .middle
                    p Hair Dresser
                    a.text-uppercase.WorkLink(href="#") View >  
            .WorkPicturesContainer
                img.WorkPictures(src="img/WorksBird.png" alt="Work Picture 2")
                .middle
                    p Peace
                    a.text-uppercase.WorkLink(href="#") View >
            .WorkPicturesContainer
                img.WorkPictures(src="img/WorksLaptop.png" alt="Work Picture 3")
                .middle
                    p Gadgets
                    a.text-uppercase.WorkLink(href="#") View >
            .WorkPicturesContainer
                img.WorkPictures(src="img/WorksCamera.png" alt="Work Picture 4")
                .middle
                    p Photo Camera
                    a.text-uppercase.WorkLink(href="#") View >
            .WorkPicturesContainer
                img.WorkPictures(src="img/WorksBike.png" alt="Work Picture 5")
                .middle
                    p Bicycle
                    a.text-uppercase.WorkLink(href="#") View >
            .WorkPicturesContainer
                img.WorkPictures(src="img/WorksNoteBook.png" alt="Work Picture 6")
                .middle
                    p Notes
                    a.text-uppercase.WorkLink(href="#") View >
            .WorkPicturesContainer
                img.WorkPictures(src="img/WorksLaptopWorkSpace.png" alt="Work Picture 7")
                .middle
                    p Table
                    a.text-uppercase.WorkLink(href="#") View >
            .WorkPicturesContainer
                img.WorkPictures(src="img/WorksWorkSpace.png" alt="Work Picture 8")
                .middle
                    p Stuff
                    a.text-uppercase.WorkLink(href="#") View >
            .WorkPicturesContainer
                img.WorkPictures(src="img/WorksBook.png" alt="Work Picture 9")
                .middle
                    p Events
                    a.text-uppercase.WorkLink(href="#") View >
.GetInTouch 
    p Do you like OUR Work so far?
    p.PAMargin Let's talk about YOUR PROJECTS
    button.CoolA.DoYouGetInTouch(href="#") Get In touch
.BlogPosts
    h3 our recent blog posts
    p.UnderH Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
    .PostsBlock
        .posts.FirstPost
            .BlockRight 
                img(src="img/BlogsTable.png", alt="blogs")
            .BlockLeft
                div.BlogBlock.d-flex.flex-row
                    h5 18 oct
                    div
                        h4.text-uppercase startup needs to be funded
                        p By Khalil Uddin in Development 
                div.BlogBlockText
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
                    a.PostReadMore.text-uppercase(href="#") Read more   

        .posts.BlockLeft
            .BlockRight 
                img(src="img/WorksWorkSpace.png", alt="blogs")
            .BlockLeft
                div.BlogBlock.d-flex.flex-row
                    h5 18 oct
                    div
                        h4.text-uppercase user interface designing elements
                        p By Khalil Uddin in Development 
                div.BlogBlockText
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
                    a.text-uppercase.PostReadMore(href="#") Read more         
.Partners 
    div.d-flex.Partners-images.justify-content-between
        img(src="img/deorham.png", alt="partners")
        img(src="img/ratings.png", alt="partners")
        img(src="img/malkmedia.png", alt="partners")
        img(src="img/bcause.png", alt="partners")
        img(src="img/wompify.png", alt="partners")
    div.Partners-text
        p Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
        p.partner-name John Doe, Google Inc.
    .dots.d-flex.justify-content-between
        p.dot-selection
        p.dot-selection
        p.dot-selection
.Touch 
    h3 Get in touch
    p.UnderH Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
    .TouchBlock
        .PersonalInfoBlock 
            .Adress
                <svg style="vertical-align: middle" xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                p.text-uppercase Adress
                a 312, 7th Ave New York 
                a NY 101200, United States Of America
            .Phone
                <svg style="vertical-align: middle" xmlns="http://www.w3.org/2000/svg" width="25px" viewBox="0 0 384 512"><path d="M16 64C16 28.7 44.7 0 80 0L304 0c35.3 0 64 28.7 64 64l0 384c0 35.3-28.7 64-64 64L80 512c-35.3 0-64-28.7-64-64L16 64zM224 448a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM304 64L80 64l0 320 224 0 0-320z"/></svg>
                p.text-uppercase Hotline(24/7)
                a(href="tel:650052300") +65 0052 300
                a(href="tel:8801723511210") +88 01723 511 340
            .Email
                <svg style="vertical-align: middle" xmlns="http://www.w3.org/2000/svg" width="30px" viewBox="0 0 512 512"><path d="M64 112c-8.8 0-16 7.2-16 16l0 22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1l0-22.1c0-8.8-7.2-16-16-16L64 112zM48 212.2L48 384c0 8.8 7.2 16 16 16l384 0c8.8 0 16-7.2 16-16l0-171.8L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64l384 0c35.3 0 64 28.7 64 64l0 256c0 35.3-28.7 64-64 64L64 448c-35.3 0-64-28.7-64-64L0 128z"/></svg>
                p.text-uppercase E-mail
                a(href="mailto:shapedtheme@gmail.com") shapedtheme@gmail.com
                a(href="mailto:khalilkode@gmail.com") khalilkode@gmail.com
        .InputsBlock
            input(name="name", type="text", placeholder="your name") 
            input(name="e-mail", type="email", placeholder="your e-mail")
            input(name="subject", type="text", placeholder="your subject") 
            input(name="company", type="text", placeholder="company name") 
            textarea.InputsTextarea(name="message", rows="5", placeholder="write your message") 
            .SendMessageBlock.d-flex
                input.SendMessage(type="submit" value="send message")
                span *We'll reply as soon as possible. We dont reply on Mondays.
    .popup.InputPopup
        .popup-content
            span.InputClose &times;
            h3 confirm information
            p.underH please make sure that information below is correct 
            .ConfirmBlock 
            button <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16"><path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486z"/></svg>