//---=== FOOTER STYLES ===---
.footer
    padding: 130px 0
    color: #fff
    font-family: "Roboto Slab"
    text-align: center
    background-color: #c0301c

    h2
        padding: 0 10px 70px

    p
        position: relative
        &::before
            content: ""
            position: absolute
            bottom: 60px
            left: 50%
            width: 50px
            height: 2px
            background-color: #fff
            transform: translateX(-50%)