.hamburger
    display: block
    +media(1200)
        display: none

.HeaderLinks 
    position: fixed
    justify-content: space-between
    color: #fff
    padding: 50px 10%
    width: 100%
    z-index: 2
    transition:  ease
    align-items: center
    display: flex
    flex-direction: row
    flex-wrap: wrap

    h2
        font-size: 26px
        font-weight: 700

    .HeaderLinksMenu
        margin: 10px 0
        padding: 20px 0
        border-top: 3px solid rgba(255, 255, 255, 0.15)
        text-align: center
        display: none
        width: 100%
        overflow-x: scroll
        &::-webkit-scrollbar 
            display: none
        +media(1200)
            width: 80%
            border: none
            padding: 0
            margin: 0
            display: block
            text-align: right


    a
        text-decoration: none
        color: #fff
        font-size: 20rem
        padding-right: 35px
        &:last-child
            padding-right: 0

.ImageContainerHeader
    background: url("../img/RedWall.png") center center / cover repeat-x
    color: #fff
    padding: calc( 50vh - 125px ) 15px
    text-align: center

    h1
        font-size: 48rem
    
    p
        padding: 10px 0 95px
        font-size: 30rem